{% extends "base.html" %}

{% block content %}
{% if not logged_in %}
     <p>Please <a href="/register">register</a> or <a href="/login/">login</a><p>
     <p>If you have registered but not linked with drchrono, you must
     <a href="/authorize/">login with drchrono</a> before logging in to Birthday Wishes</p>
{% elif not request.user.doctor.access_token %}
     <p><a href="/logout/">logout</a> and login with drchrono <strong>before</strong> signing
     in to Birthday Wishes</p>
{% else %}
    <form action="/refresh_patients/">
        <input type="submit" value="Refresh patients list">
    </form>
    {% if patient_list %}
        <ul style="list-style-type:none">
        {% for p in patient_list %}
            <li>
                <input type="checkbox" value="true" name="checkbox" data-toggle="checkbox"
                {% if p.msg_active %} checked {% endif %} disabled>

                <a href=/patient/{{ p.uid }}>{{ p.name }} ({{ p.birthday }})</a> 
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No patients are available.</p>
    {% endif %}

{% endif %}
{% endblock %}
