{% extends "base.html" %}

{% block content %}
{% if username %}
    <p><strong>Please also log out from drchrono.</strong> Otherwise if someone else uses this computer
    to login to this site, drchrono will use the currently logged in drchono user for the list of patients. 
    To avoid sharing your patients, log out from drchrono by pressing this link:</p>
    <p><a href=https://{{ username }}.drchrono.com/accounts/logout/>logout drchrono</a></p>
{% else %}
    <p>You've already logged out. Don't forget to also log out of drchrono if other doctors
       are going to use this site on this computer.</p>
{% endif %}
{% endblock %}
