<a href=/logout/>logout: {{ request.user.username }}</a>
<br><br>
{% if not patient.email %}
    <p>Warning: no email exists for this patient</p>
{% endif %}

<form id="form" method="post" action="/patient/{{ patient.uid }}">
    {% csrf_token %}
    <label>
        <input type="checkbox" value="true" name="checkbox" data-toggle="checkbox"
         {% if patient.msg_active %} checked {% endif %} >
        {{ patient.name }} ({{ patient.birthday }}):
    </label>
    <br><br>
    <label> Subject:
        <input id="subj" type="text" name="subj" value="{{ patient.subject }}">
    </label>
    <br>
    <label> Birthday message:
        <textarea id="msg" type="text" name="msg">{{ patient.message }}</textarea>
    </label>
    <input type="submit" value="Save" />
</form>

